.root {
  margin: 3rem 0;
}

/* Scope EVERYTHING under .root */

.root ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.root li {
  margin-bottom: 1.5rem;
}

.root span {
  font-size: 0.8rem;
  opacity: 0.6;
  display: block;
}

.root strong {
  display: block;
  font-weight: 600;
}

.root p {
  margin-top: 0.25rem;
  opacity: 0.85;
}
